<h1 class="title-name">GN (グループウェアとネットワークサービス)</h1>

<p>
  本グループでは，
  コンピュータとネットワークを利用したグループ作業の支援について研究しています．
  そのための基盤となるグループウェアシステム
  LastNote とその連携モジュール郡を開発し，
  ネットワークを通じて Loose Coupling
  しつつ互いに連携(マッシュアップ)
  するシステム構成法について研究しています．
  過去の卒論・修論のテーマ一覧(一部)を以下に掲載します．
</p>

<!--
<h2 class="title-name">研究テーマ</h2>

<ul>
    <li><a href="./ogasawara">計算機上の仕事状態の保存と復元機能 (デスクトップブックマーク)</a></li>
    <li><a href="./kishi">DHCPとDNSを連携させる計算機管理データベースシステム</a></li>
    <li><a href="./danjo">複数情報源からプレゼンス情報を推定する在席管理手法</a></li>
    <li><a href="./fujiwara-k">グループワークを支援するメーリングリスト機構</a></li>
</ul>

<h2 class="title-name">過去の研究テーマ</h2>
<ul>
    <li><a href="./heitaku">グループウェアでの効果的な意見集約機能</a></li>
    <li><a href="./yamayasu">複数のメール分類機構を併用可能にする機構 (組み合わせ機構)</a></li>
    <li><a href="http://www.swlab.cs.okayama-u.ac.jp/lab/tani/research/tng-before-nomura-labo/">インターネットを利用したグループウェアの研究</a>(外部リンク)</li>
</ul>
<br />
<h1 class="title-name">研究テーマの詳細</h1>
-->

<hr>
<%= render :file => "public_html/research/fujiwara-k2.html" %>
<hr>
<%= render :file => "public_html/research/kozai2.html" %>
<hr>
<%= render :file => "public_html/research/ogasawara.html" %>
<hr>
<%= render :file => "public_html/research/mihara2.html" %>
<hr>
<%= render :file => "public_html/research/kitazoe.html" %>
<hr>
<%= render :file => "public_html/research/nagao.html" %>
