<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<h1 class="title-name">New (Mint)</h1>

<p>
  本グループでは，
  今後予想される計算機の多コア化に柔軟に対応できる新しいOSについて，
  谷口研究室と共同で研究開発を進めています．
  Mint は，1台の計算機上でマルチコアCPUを用い，
  複数のLinuxを独立に走行させる方式です．
  過去の卒論・修論のテーマ一覧(一部)を以下に掲載します．
</p>

<hr />
<%= render :file => "public_html/research/mint.html" %>
<hr />
<%= render :file => "public_html/research/nakahara.html" %>
<hr />
<%= render :file => "public_html/research/ushio2.html" %>
<hr />
<%= render :file => "public_html/research/amano.html" %>
<hr />
<%= render :file => "public_html/research/sakai-h.html" %>
