<div class="home">
  <h1 class="home">New (Mint)</h1>

  <p>
    本グループでは，
    今後予想される計算機の多コア化に柔軟に対応できる新しいOSについて，
    谷口研究室と共同で研究開発を進めています．
    Mint は，1台の計算機上でマルチコアCPUを用い，
    複数のLinuxを独立に走行させる方式です．
    過去の卒論・修論のテーマ一覧(一部)を以下に掲載します．
  </p>

  <hr />
  <%= render :file => "public_html/research/new/mint.html" %>
  <hr />
  <%= render :file => "public_html/research/new/kitagawa.html" %>
  <hr />
  <%= render :file => "public_html/research/new/nakao.html" %>
  <hr />
  <%= render :file => "public_html/research/new/ikeda-n.html" %>
  <hr />
  <%= render :file => "public_html/research/new/fukai.html" %>
  <hr />
  <%= render :file => "public_html/research/new/sakai-h.html" %>
  <hr />
  <%= render :file => "public_html/research/new/miyazaki.html" %>
</div>
