<div class="home">
  <h1 class="home">GN (グループウェアとネットワークサービス)</h1>

  <p>
    本グループでは，
    コンピュータとネットワークを利用したグループ作業の支援について研究しています．
    そのための基盤となるグループウェアシステム
    LastNote とその連携モジュール群を開発し，
    ネットワークを通じて Loose Coupling
    しつつ互いに連携(マッシュアップ)
    するシステム構成法について研究しています．
    過去の卒論・修論・対外発表のテーマ一覧(一部)を以下に掲載します．
  </p>

  <hr>
  <%= render :file => "public_html/research/gn/mihara2.html" %>
  <hr>
  <%= render :file => "public_html/research/gn/yoshii.html" %>
  <hr>
  <%= render :file => "public_html/research/gn/katsurazako.html" %>
  <hr>
  <%= render :file => "public_html/research/gn/murata.html" %>
  <hr>
  <%= render :file => "public_html/research/gn/okada.html" %>
  <hr>
  <%= render :file => "public_html/research/gn/kimura-y.html" %>
  <hr>
  <%= render :file => "public_html/research/gn/danjo-m.html" %>
</div>
